
/* Kirtirajsinh Atodariya 
   n01620157 */
/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color:antiquewhite;
}

header {
    background-color: #f4f4f474;
    padding: 1rem;
    align-items: center;
    position: relative;
}

.header-wrapper {
  position: relative;
  height: 400px; /* Adjust as needed */
}
.header-content {
  
  margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 2;  /* Semi-transparent background */
  padding: 20px;
  text-align: center;
    /* align-items: center;
    width: 100%; */
}

.header-image {
    flex: 1; 
    height: 100%;/* Take remaining space */
}

.header-image img {
    /* max-width: 100%; /* Adjust image width */
    /* height: auto; */ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  nav {
    flex: 1; /* Take remaining space */
    text-align: right;
  }

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-left: 1rem;
}

nav a.active {
    font-weight: bold; 
  }
nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #666;
    background-color:rgb(251, 226, 192);
}


main {
    max-width: 800px;
    margin: 5rem auto;
    padding: 3rem 9rem;
    text-align: left;
    align-content: center;
}
.mainw{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9) ;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-bottom: 0%;
}

/* home 4 options*/





section {
    margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  }
  section h3 {
    color: blue;
  }
  .form-group {
    margin-bottom: 1rem;
}

.form-group label {
    margin-right: 1rem;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    margin-right: 0.5rem;
}

  h2{
    background-color: rgb(197, 191, 191);
    text-align: center;
  }
  h3{
    text-align: center;
    padding-bottom: 10px;
  }
  .btn{
    margin-bottom: 1rem;
    align-content: center;
    margin-left: 36%;
    margin-right: 0;
  }
 